{%include 'sitio/cabecera.html'%} 
<!--Inicio del formulario-->
<h3>LOGIN</h3>
<form action="/login" method="POST" enctype="multipart/form-data">
    <div class="mb-1">
        <label for=""><font color="blue">Nombre de usuario</label>
        <input type="text" class="form-control" name="user_usu" placeholder="Ingrese su nombre de usuario">
    </div>
    <div class="mb-1">
        <label for=""><font color="blue">Contraseña</label>
            <input type="password" class="form-control" name="password_usuario" placeholder="Crear contraseña">
    </div>
    <div class="msg">{{ msg }}</div>
    <input type="submit" value="Login">
</form>

{%include 'sitio/footer.html'%}