.hipervinculo1
{
    text-decoration: none;
    color: brown;
}
.hipervinculo2
{
    text-decoration: none;
    color: chartreuse;
}
.hipervinculo3
{
    text-decoration: none;
    color: #7A0760;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imagen1
{
    height: 50px;
    width: 50px;
}

.imagen2
{
   
    height: 200px;
    width: 200px;
}

table, td, th
{
    border: red 2px solid;
    background-color: cyan;
}
.centro
{
    text-align: right;
}
/*Personalización del formulario*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-registrarse
{
    width: 650px;
    
    background-color: #24303c;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #727070;
}
.controles
{
    width: 120%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    font-size: 10px;
    color: white;
}


.caja_inline
{
    display: inline-block;
    width: 70px;
    align: right;
}