{%include 'admin/cabecera.html'%}
<br><br>

<h2>Rol Administrador<br></h2>
<h4>Editar Habitaciones<br></h4>

<div class="">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="class-header">
                    <strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;Modificar Habitaciones</strong>
                </div>

                <!--Inicio del formulario-->
                <form action="/habitaciones/habitaciones/modificarh" method="POST">
                    <input type="hidden" name="filtro" value="{{datos.0}}">
                    <div class="mb-1">
                        <label for=""><font color="blue">Descripción de La Habitación</label>
                            <!--Para modiicar el estilo con que se muestra el placeholder class="placeholder"-->
                        <input type="text" class="form-control" name="descripcionhabitacion" value="{{datos.1}}">
                    </div>
                    <div class="mb-1">
                        <label for=""><font color="blue">Precio-$COP</label>
                        <input type="text" class="form-control" name="preciohabitacion" value="{{datos.2}}"">
                    </div> 

                    <div class="mb-1">
                        <label for=""><font color="blue">Estado</label>
                            <input type="text" class="form-control" name="estadohabitacion" value="{{datos.3}}">
                    </div>
                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<button type="submit" class="btn btn-primary">Modificar</button>
                </form>

            </div>
        
        </div>
        <div class="col-md-18"></div>
    </div>
</div>


</div>

{%include 'sitio/footer.html'%}